<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://gis.capnuoccholon.com.vn/server/rest/services"
                   username="thongcncl"
                   password="Thong159000"
                   matchAll="true"/>
      <serverUrl url="https://gis.capnuoccholon.com.vn/server/rest/services"
                   username="thongcncl"
                   password="Thong159000"
                   matchAll="true"/>
      <serverUrl url="https://gis.capnuoccholon.com.vn/portal"
                   username="thongcncl"
                   password="Thong159000"
                   matchAll="true"/>
      
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
